
* {
	dark-primary-color:     #00796B; 
	default-primary-color:  #009688; 
	light-primary-color:    #B2DFDB; 
	text-primary-color:     #FFFFFF; 
	accent-color:           #CDDC39; 
	primary-text-color:     #212121; 
	secondary-text-color:   #757575; 
	divider-color:    		#BDBDBD;
		
}

.root {
	-fx-background-color: default-primary-color;
}

.button,.choice-box {
 	-fx-font: 14px "Bold";
 	-fx-text-fill: dark-primary-color;
 	-fx-background-color: accent-color;
 	-fx-background-radius: 22;
 	-fx-effect:dropshadow(one-pass-box, #00796B,14,2,0.5,0.5);
 }
 
.choice-box > .label {
 	-fx-text-fill: dark-primary-color;
 }
 
.button:hover{
	-fx-background-color: #8BC34A;
}
